# Ignore Python environment and YOLO run logs
venv/
runs/
*.pt
# *.py
__pycache__/
.env
.env.*

# Ignore raw media assets in root
CGAssests/

# CV Processed Video Loops
dashboard-frontend/public/assets/cameras/*_processed.mp4

# CV Output JSONs
cv-detection/cv_output_courtyard.json
cv-detection/cv_output_gate4.json
